body {
    font-family: 'Times New Roman', Times, serif;
    background-color: lightslategray;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 750px;
    margin: 50px auto;
    padding: 20px;
    background-color: teal;
    border-radius: 50px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-family: cursive !important;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 2000px;
    gap: 10px;
    margin-bottom: 20px;
}

form input, form select, form button {
    padding: 10px;
    border: 1px solid white;
    border-radius: 4px;
    background-color: lightpink;
}

form button {
    background-color: grey;
    color: black;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: hotpink;
}

.transaction-table table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.transaction-table th, .transaction-table td {
    padding: 10px;
    border: 1px solid white;
    text-align: center;
}

.transaction-table th {
    background-color: lightpink;
}

.total-amount {
    text-align: right;
    font-size: 18px;
}

.filter {
    margin-bottom: 20px;
    text-align: center;
}

.filter label {
    margin-right: 10px;
}

.filter select {
    padding: 10px;
    border: 1px solid white;
    background-color: lightpink;
    border-radius: 4px;
}